@Charset="utf-8";

body {
	background-image:url("I/pulmao2.jpg");
	font-family:sans-serif;
}

h1#tit {
	color:#FFFFFF;
	text-align:center;
	font-size:60px;
	text-shadow: 2px 2px black;
}

img#im{
	width:300px;
	height:auto;
	float:Right;
	margin-right:8%;
	display:block;
}

div#text {
	color:#FFFFFF;
	font-size:20px;
	text-shadow: 2px 2px black;
	margin-top:150px;
	margin-left:30px;
	background-color:rgba(0,0,0,0.4);
}

div#fun:hover {
	background-color:rgba(179,34,34,1.0);
}

div#fun{
	width:200px;
	height:80px;
	background-color:rgba(220,220,220,0.8);
	margin-left:40%;
	position:absolute;
	bottom:100px;
	transition:1s;
}

#ret {
	color:#FFFFFF;
	font-size:40px;
	text-shadow: 2px 2px black;
	text-align:center;
}